<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-sm btn-info" (click)="isListView = !isListView">{{isListView ? 'Form': 'List'}}</button>
      </div>
    </div>
    <div *ngIf="isListView" class="row justify-content-center align-items-center h-100">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr no</th>
              <th>Name</th>
              <th>Department</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employeeArray; let sr=index">
              <td>{{sr+1}}</td>
              <td>{{emp.firstName}} {{emp.lastName}}</td>
              <td>{{emp.department}}</td>
              <td>{{emp.email}}</td>
              <td>
                <button class="btn btn-sm btn-info" (click)="onEdit(emp)">Edit</button>
                <button class="btn btn-sm btn-danger mx-3" (click)="onDelete(emp)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!isListView" class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="firstName" [(ngModel)]="employeeObj.firstName" id="firstName"
                      class="form-control form-control" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="lastName" [(ngModel)]="employeeObj.lastName" id="lastName"
                      class="form-control form-control" />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-6">
                  <label class="form-label select-label"> Choose Department</label>
                  <select name="department" [(ngModel)]="employeeObj.departmentId" class="select form-control">
                    <option value="">Choose Department</option>
                    <option *ngFor="let dept of department" [value]="dept.deptId">{{dept.deptName}}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Gender: </h6>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="gender" [(ngModel)]="employeeObj.gender" type="radio"
                      id="femaleGender" value="Female" checked />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="gender" [(ngModel)]="employeeObj.gender" type="radio"
                      id="maleGender" value="Male" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" name="email" [(ngModel)]="employeeObj.email" id="emailAddress"
                      class="form-control form-control" />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" name="phoneNo" [(ngModel)]="employeeObj.phoneNo" id="phoneNumber"
                      class="form-control form-control" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <input class="btn btn-primary btn mx-3" (click)="onCreateEmp()" type="button" value="Submit" />
                <input class="btn btn-danger btn" (click)="onReset()" type="button" value="Reset" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
